* {
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

.header {
    background-color: #1f2937;
    color: rgb(228, 228, 228);

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.top-and-head {
    width: 1000px;
    margin: 0px auto;
}

.top {
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.top-left {
    font-weight: 700;
    font-size: larger;
}
.top-right {
    margin-left: auto;
}

.top-link {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}
.top-link a {
    text-decoration: none;
    color: white;
}


.head{
    /* border: 2px solid red; */
    height: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.head-left {
    /* border: 2px dotted green; */
    height: 225px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.hl-1 {
    font-size: xx-large;
    font-weight: 900;
}
.hl-3b {
    background-color: rgb(0, 132, 255);
    color: white;
    border-radius: 5px;
}

.head-right {
    /* border: 2px dotted green; */
    height: 225px;
    flex: 1;
    background-color: rgba(248, 248, 248, 0.404);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

.content {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.content-title {
    font-size: large;
    font-weight: bold;
    margin: 30px;
}

.content-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.content-block {
    /* border: 2px solid rgba(255, 0, 0, 0.158); */
    width: 175px;
    height: 300px;
}

.cb-1 {
    width: 175px;
    height: 175px;
    border: 2px solid rgb(74, 132, 187);
    border-radius: 10px;
}
.cb-a {
    text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

.quoter {
    background-color: #e5e7eb;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    width: 700px;
    /* border: 2px solid yellow; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-words{
    font-style: italic;
    font-size: 120%;
    text-align: center;
}
.quote-author {
    align-self: flex-end;
    font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

.sign-up {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-block {
    background-color: rgb(0, 140, 255);
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin: 100px;
    width: 900px;
}

.sign-up-words {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.suw-1 {
    font-size: larger;
    font-weight: bolder;
}

.sign-up-button {
    margin-left: auto;
    width: 15%;
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

.footer {
    background-color: #1f2937;
    color: rgb(228, 228, 228);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}